.ishark-import-wrapper {
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
}
.ishark-import-wrapper .panel {
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0 0 16px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
    color: #555;
    text-align: left;
    padding: 20px;
}
.ishark-import-wrapper ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.ishark-import-wrapper li.step {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-bottom: 2px solid #bdb9b9;
    color: #bdb9b9;
}
.ishark-import-wrapper li.step.active {
    border-bottom: 2px solid #4f94d4;
    color: #4f94d4;
    font-weight: bolder;
}
.button-ishark
{
    font-size: 1.25em;
    padding: 0.5em 1em!important;
    line-height: 1.5em!important;
    margin-right: 0.5em;
    margin-bottom: 2px;
    height: auto!important;
    border-radius: 4px;
    background-color: #4f93d4;
    border-color: #4f93d4;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 25%), 0 1px 0 #4f93d4;
    text-shadow: 0 -1px 1px #4f93d4, 1px 0 1px #4f93d4, 0 1px 1px #4f93d4, -1px 0 1px #4f93d4;
    margin: 0;
    opacity: 1;
    float: right;
}
.ishark-import-wrapper .import-form .row {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.ishark-import-wrapper .import-form .row .column {
    width: 100%;
}
.ishark-import-wrapper .card-details {
    margin-bottom: 50px;
}

.ishark-import-wrapper .hidden {

    display:none;
}
.ishark-import-wrapper .loader {
        border: 10px solid #f3f3f3;
        border-top: 10px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .ishark-import-wrapper img {
    margin: auto;
    /* float: none; */
    display: block;
}